[submodule "0.1.0/packages/typst-marginalia"]
	path = 0.1.0/packages/typst-marginalia
	url = https://github.com/uwni/typst-marginalia.git
[submodule "packages/typst-marginalia"]
	path = packages/typst-marginalia
	url = https://github.com/uwni/typst-marginalia.git
